[D-BUS Service]
Interface=org.nemo.passwordmanager
Name=org.nemo.passwordmanager
Exec=/bin/false
User=root
SystemdService=dbus-org.nemo.passwordmanager.service

